@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 20px;
  font: $base-text-size / 1 $base-font-family;
  background-color: rgb(221, 208, 196);
  font-family: 'Patua One';
}

html {
  border: 55px solid black;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

.pro1 {
  display: flex;
  justify-content: center;
}

.pro2 {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.item1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.item2 {
  display: flex;
  justify-content: center;
}

.item3 {
  display: flex;
  justify-content: center;
}
