@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  font: $base-text-size / 1 $base-font-family;
  background-color: rgb(221, 208, 196);
  font-family: 'Patua One';
}

html {
  border: 55px solid white;
}

header h1 {
  text-align: center;
  font-size: 60px;
  margin: 40px 0;
}

.pro1 {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
  font-size: 30px;
}

.pro2 p {
  margin: 40px 0;
}

.pro2 {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

.item1 {
  text-align: center;
  margin: 40px 0;
  font-size: 50px;
}

.item2 {
  display: flex;
  justify-content: center;
}

.item3 {
  display: flex;
  justify-content: center;
}

.sk1 {
  text-align: center;
  font-size: 50px;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
  min-width: 200px;
}

.clown {
  display: flex;
  justify-content: center;
}

// .clown1 {
//   animation: clown-spin infinite 20s linear;
//
//   @keyframes clown1-spin {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(360deg); }
//   }
// }

footer {
  display: flex;
  flex-direction: row;
}

.foot1 {
  text-align: center;
}
